#content {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.types, .brands {
    display: inline-block;
    margin: 0 -10px 0;
    width: calc(100% + 20px);
}

.types>div, .brands>a{
    float: left;
    padding: 10px;
    text-decoration: none;
    
}

.brands>a *{
    transition: all .4s;
}

.brands .img_hover{
    overflow: hidden;
    background-color: #999;
}

.brands h3 {
    font-weight: normal;
    padding: 8px 0 4px;
    text-align: left;
    font-size: 16px;
    display: block;
    height: 55px;
    max-height: 55px;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    text-align: center;
}

.brands p {
    color: #888;
    font-size: 14px;

}
 
iframe {
    height: 470px;
    width: 380px;
}

.img_wrap {
    width: calc(100% - 390px);
    float: left;
    height: 470px;
    background-image: url(http://www.anzodesign.com/demo/JKL-master/img/img-fee.jpg);
    background-size: cover;
    background-position: right top;
}

.goProcess {
    padding-bottom: 50px;
}

@media (min-width: 769px) {
    .brands>a:hover img{
        transform: scale(1.1);
        opacity: .9;
    }
}



@media (max-width: 600px) {
    iframe {
        width: calc( 100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
    }
    .goProcess {
        padding-top: 0;
    }
    .img_wrap {
        width: 100%;
        float: none;
        height: 90vw;
    }
}

@media (max-width: 414px) {
    .types>div{
        padding: 0 0 10px;
    }
    .brands>a {
        /* padding: 0 0 10px; */
    }
    .types, .brands {
        margin: 0 0 0;
        width: calc(100%);
    }
    /* #professional {
        padding-left: 0;
        padding-right: 0;

    } */
}


