<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/init.css" />
    <link rel="stylesheet" href="css/calc.css" />
    <title>JKL - 運費試算</title>
    <script src="//cdn.jsdelivr.net/npm/bluebird@3.5.5/js/browser/bluebird.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="js/data/shipping.js"></script>
    <script src="js/shipping.js"></script>
    
</head>

<body>
    <div class="wrapper wrapper_02" id="app" style="display: none;" v-show="true">
        <h1 v-if="!noTitle">
            國際運費試算器
        </h1>

        <div class="text f_b">體積</div>
        <div class="select_wrap box140">
            <select class="volume_select W100" v-model="selectedVolume">
                <option v-for="(volume, index) in unitVolume" :value="volume.value">
                    {{volume.text}}
                </option>
            </select>
            <i class="arrow down"></i>
        </div>
        
        <input class="length box60" placeholder="長" type="number" min="0" v-model="length" /><span>X</span>
        <input class="width box60" placeholder="寬" type="number" min="0" v-model="width" /><span>X</span>
        <input class="height box60 marginRight0" placeholder="高" type="number" min="0" v-model="height" />

        <div class="text f_b">重量</div>
        <div class="select_wrap box140">
            <select class="weight_select W100" v-model="selectedWeight">
                <option v-for="(weight, index) in unitWeight" :value="weight.value">
                    {{weight.text}}
                </option>
            </select>
            <i class="arrow down"></i>
        </div>
            
        <input class="weight box60" placeholder="重量" type="number" min="0" v-model="weight" />

        <br />
        <div class="calulate_02 btn" @click.prevent="clickEstimate">
            試算</div>
        <br />
        <hr>
        <div class="result_area">
            
            <div class="v_result inline" >
                <span>體積磅數 = </span>
                <p class="f_blue f_b f24" :class="{ text__delete: selectedPlan === 0 }">{{computedVolume}}</p><span v-if="selectedPlan === 0">（不計）</span>
                &nbsp;&nbsp;&nbsp;
            </div>
            <div class="w_result inline">
                <span>重量磅數 = </span>
                <p class="f_blue f_b f24">{{computedWeight}} </p>
            </div>
            <div class="text f_b">國際運費：</div>
            <div class="total">
                {{computedShippingCost}}
            </div> 
            <div class="select_wrap box120">
                <select class="W100" v-model="selectedPlan">
                    <option v-for="(plan, index) in shippingPlan" :value="plan.value">
                        {{plan.text}}
                    </option>
                </select>
                <i class="arrow down"></i>
            </div>
        </div>
        
        
    </div>
</body>

</html>

<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>

<script>
    $(function(){
        $('body').on('click touchstart',function(e){
            console.log(e.target);
        });
    });
</script>
